body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('./pic.jpg'); /* Replace 'your-image.jpg' with the path to your image */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


header {
  #background-color: #218f97;
  color: #fff;
  text-align: center;
  padding: 40px 0;
}

.blog-title h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
}

main {
  max-width: 900px;
  margin: 250px auto;
  padding: 10px;
  
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #ffffff; /* Text color on top of the image */
}

section {
  margin-bottom: 40px;
}

section h2 {
  color: #fff; /* Heading color on top of the image */
}


footer {
  text-align: center;
  padding: 20px 0;
  #background-color: #218f97;
  color: #fff;
  margin-top: auto;
}
